body {
    background-color: darkblue;
    color: white;
    font-family: Georgia;
    
}

.center {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

.imgcenter {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

img {
    border: 5px solid #555;
    border-radius: 50%;
    border-color: white;
}